:root {
  --tamanho-da-fonte: 1.4rem;
  --cor-da-fonte: white;
  --raio-borda: 5px;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  /* overflow: hidden; */

  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.destaque {
  font-weight: 900;
  font-size: 2.5rem;
}

.imagem {
  height: 180px;
  border-radius: 50%;
}

.titulo {
  font-size: 36px;
  margin: 50px 0px 100px;
}

.campo {
  display: flex;
  align-items: center;
  font-size: var(--tamanho-da-fonte);
  margin-bottom: 30px;

}

.entrada {
  outline: none;
  padding: 5px 10px;
  margin: 0px 20px;
  font-size: var(--tamanho-da-fonte);
  color: var(--cor-da-fonte);
  border-radius: var(--raio-borda);
  border: 1px solid #0009;
  background-color: #0005;
}

.btn {
  background-color: rgb(91, 89, 89);
  margin-top: 20px;
  padding: 10px 35px;
  border-radius: 200px;
  border: none;
  color: var(--cor-da-fonte);
  font-size: var(--tamanho-da-fonte);
}

.invisivel {
  display: none;
}

#resposta {
  font-weight: 700;
  font-size: var(--tamanho-da-fonte);
  padding: 15px 30px;
  border: 1px solid #0009;
  background-color: #0005;
  border-radius: var(--raio-borda);
}

/* Tela pequena (celulares) */
@media (max-width: 650px) {
  body {
    font-size: 1rem; /* Ajusta o tamanho da fonte para telas pequenas */
  }

  .seletor {
    width: 100%; /* Seletor ocupando toda a largura */
    margin: 0px;
  }

  .campo {

    flex-direction: column; /* Alinha os campos verticalmente */
    margin: 5px;
   
  }

  .titulo {
    margin: 20px 0px;
    font-size: 24px;
  }

  
  .entrada {
    margin: 10px 0px;
  }

  .btn {
    width: 60%; /* Botão ocupando toda a largura */
  }
}
